*/__pycache__/*
.vscode/
__pycache__/
.idea/*

src/fr_engine/src/test_images/*.png
src/fr_engine/src/test_images/*.PNG
src/fr_engine/src/test_images/*.jpg
src/fr_engine/src/test_images/*.JPG
src/fr_engine/src/test_images/*.jpeg
src/fr_engine/src/test_images/*.JPEG
src/fr_engine/src/test_images/*.file

src/frontend/finalfrsproject/helpers/__pycache__/
src/frontend/finalfrsproject/static/images/uploads/
src/frontend/finalfrsproject/static/aadhars/
src/frontend/finalfrsproject/static/known_persons/
src/frontend/finalfrsproject/static/drivers_licenses/
src/frontend/finalfrsproject/static/known_vehicles/
src/frontend/finalfrsproject/static/permit_images/
src/frontend/finalfrsproject/static/passes/
src/frontend/finalfrsproject/*.csv
src/frontend/finalfrsproject/*.pdf

src/ANPR/anpr_data/webhook_cache/*
src/ANPR/anpr_data/*.jpg
src/ANPR/anpr_data/.stream/*
src/ANPR/anpr_data/config.ini

src/ANPR/anpr_data1/webhook_cache/*
src/ANPR/anpr_data1/*.jpg
src/ANPR/anpr_data1/.stream/*
src/ANPR/anpr_data1/config.ini

src/ANPR/anpr_data2/webhook_cache/*
src/ANPR/anpr_data2/*.jpg
src/ANPR/anpr_data2/.stream/*
src/ANPR/anpr_data2/config.ini

src/ANPR/anpr_data3/webhook_cache/*
src/ANPR/anpr_data3/*.jpg
src/ANPR/anpr_data3/.stream/*
src/ANPR/anpr_data3/config.ini

src/ANPR/anpr_webhook/*.jpg

stop_all_containers.sh
run_all_containers.sh
build_all_containers.sh
/src/ANPR/anpr_webhook/images/918ec765-6265-474a-b2a8-11df3fd0a5e5.png
/src/ANPR/anpr_webhook/images.zip
/src/frontend/finalfrsproject/static/anpr_vehicles/918ec765-6265-474a-b2a8-11df3fd0a5e5.png
/src/frontend/finalfrsproject/static/918ec765-6265-474a-b2a8-11df3fd0a5e5.png
/src/logs/TopReport.txt
/84%-Conf-Contra-Light-FRS.png
