{% extends "layout.html" %}
{% block content %}
<section class="user user_register_section">
	<div class="container-fluid">
		<form id="form" action="{{ url_for('make_trip_summary') }}" method="post" enctype="multipart/form-data" class="login">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <input type="hidden" id="trip_summary_report" name="trip_summary_report" value="trip_summary_report">

      <div class="col-xs-12 buttons text-center">
        <button type="submit" id ="end_trip_registration" name= "end_trip_registration" value="end_trip_registration" class="btn btn-primary">{{ _('Continue') }}</button>
      </div>

			<div class="table-responsive" style="padding-top: 30px;">
      	<table class="table table-striped dataTables-example dataTable" cellspacing="20px">
        	<thead>
            <tr>
              <th>{{ _('Traveler') }}</th>
              <th>{{ _('Vehicle') }}</th>
              <th>{{ _('ID') }}</th>
              <th>{{ _('Traveler Type') }}</th>
              <th>{{ _('Purpose') }}</th>
              <th>{{ _('Address') }}</th>
              <th>{{ _('To Meet') }}</th>
              <th>{{ _('Entry Time') }}</th>
              <th>{{ _('Est Duration') }}</th>
              <th>{{ _('Mobile') }}</th>
              <th>{{ _('Permit Image') }}</th>
              <th>{{ _('Total Passengers') }}</th>
              <th>{{ _('Remarks') }}</th>
            </tr>
         	</thead>
          <tbody>
          	{% if details.trip_and_traveler_details %}
            	{% for trip_traveler_detail in details.trip_and_traveler_details %}
              	{% if trip_traveler_detail.person_id %}
                  <tr style="cursor: default;">
                    <td>
                      <figure>
                        <img style="cursor: pointer;" onclick="javascript:show_modal('{{ trip_traveler_detail.traveler_name }}','{{ trip_traveler_detail.person_image }}')"
                             src="{{ trip_traveler_detail.person_image }}" alt="Person Image" class="img_main">
                        <figcaption id="traveler_name" name="traveler_name"> {{ trip_traveler_detail.traveler_name }}</figcaption>
                      </figure>
                    </td>
                    {% if trip_traveler_detail.vehicle_image %}
                      <td>
                        <figure>
                          <img style="cursor: pointer;" onclick="javascript:show_modal('{{ trip_traveler_detail.vehicle_number }}','{{ trip_traveler_detail.vehicle_image }}')"
                               src="{{ trip_traveler_detail.vehicle_image}}" alt="Vehicle Image" class="img_main">
                          <figcaption id="vehicle" name="vehicle"> {{ trip_traveler_detail.vehicle_number }}</figcaption>
                        </figure>
                      </td>
                      {% else %}
                        <td>{{ _('Not Applicable') }}</td>
                      {% endif %}
                     {% if trip_traveler_detail.primary_id_image %}
                      <td>
                        <figure>
                          <img style="cursor: pointer;" onclick="javascript:show_modal('{{ trip_traveler_detail.primary_id_number }}','{{ trip_traveler_detail.primary_id_image }}')"
                               src="{{ trip_traveler_detail.primary_id_image}}" alt="ID Image" class="img_main">
                          <figcaption id="ID" name="ID"> {{ trip_traveler_detail.primary_id_number }}</figcaption>
                        </figure>
                      </td>
                      {% else %}
                        <td>{{ _('Not Applicable') }}</td>
                      {% endif %}
                    <td>{{ trip_traveler_detail.traveler_type }}</td>
                    <td>{{ trip_traveler_detail.visiting_person_name }}</td>
                    <td>{{ trip_traveler_detail.coming_from }}</td>
                    {% if trip_traveler_detail.traveler_type in ['TEACHER', 'PASS HOLDER']  %}
                        <td>{{ _('Not Applicable') }}</td>
                    {% else %}
                         <td>{{ trip_traveler_detail.going_to }}</td>
                    {% endif %}
                    <td>{{ trip_traveler_detail.entry_time }}</td>
                    <td>{{ trip_traveler_detail.expected_visit_duration }}</td>
                    <td>{{ trip_traveler_detail.mobile_number }}</td>
                    {% if trip_traveler_detail.traveler_type in ['TEACHER', 'PASS HOLDER']  %}
                        <td>{{ _('Not Applicable') }}</td>
                    {% else %}
                    {% if trip_traveler_detail.permit_image %}
                        <td>
                            <figure>
                                <img style="cursor: pointer;" onclick="javascript:show_modal('Permit','{{ trip_traveler_detail.permit_image }}')"
                                    src="{{ trip_traveler_detail.permit_image }}" alt="Permit Image" class="img_main">
                                <figcaption id="permit_image" name="permit_image"> {{ _('Permit') }}</figcaption>
                            </figure>
                        </td>
                    {% else %}
                        <td>{{ _('None') }}</td>
                    {% endif %}
                    {% endif %}
                    {% if trip_traveler_detail.traveler_type in ['TEACHER', 'PASS HOLDER']  %}
                        <td>{{ _('Not Applicable') }}</td>
                    {% else %}
                        <td>{{ trip_traveler_detail.total_passengers }}</td>
                    {% endif %}
                    {% if trip_traveler_detail.trip_reason %}
                        <td>{{ trip_traveler_detail.trip_reason }}</td>
                    {% else %}
                       <td>{{ _('None') }}</td>
                    {% endif %}
                  </tr>
                {% endif %}
              {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>
      <!--
        <input type="hidden" id="csv_data" name="csv_data" value="{{ trip_traveler_detail }}">
        <div style="text-align: center; margin-top: 100px" ><button type="submit" id = "download" name="download" value="download" class="c-btn">{{ _('Download CSV') }}</button></div>
      -->
    </form>
    <div id="myModal" class="modal">
      <!-- The Close Button -->
      <span class="close">{{ _('&times;') }}</span>
        <!-- Modal Content (The Image) -->
      <img class="modal-content" id="img01">
        <!-- Modal Caption (Image Text) -->
      <div id="caption"></div>
    </div>
      
    
	</div>    
</section>
	
<script>

  
    function show_modal(label, image) {
        
       var modal = document.getElementById("myModal");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var modalImg = document.getElementById("img01");
        modalImg.src = image;
        var captionText = document.getElementById("caption");
        modal.style.display = "block";
       captionText.innerHTML = label
       
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }
    }





  $(document).ready(function(){
  	$(document).keypress(function(e) {
    	if(e.which == 13) {
		    $("#sbmt").trigger("click");
		  }
		});

	var details = {{ details | tojson }};
    console.log(details);

  	/*sends the user back to the previous page*/
		$("#cancelbtn").click(function(){
				 $("#cancelbtn").data('clicked', true);
				 if($('#cancelbtn').data('clicked')) {
					history.back();
			 }
		});

    //$("#sbmt").click(function() {
    //		form.submit();
    //});

});
</script>        
{% endblock content %}
      
