{% extends "layout.html" %}
{% block content %}
<section class="user user_register_section">
	<div class="container-fluid">
		<form id="form" action="{{ url_for('make_trip_summary') }}" method="post" enctype="multipart/form-data" class="login">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
			<div class="table-responsive">
      	<table class="table table-striped dataTables-example dataTable">
        	<thead>
            <tr>
            	<th>{{ _('Traveler') }}</th>
              <th>{{ _('Vehicle') }}</th>
              <th>{{ _('Traveler Type') }}</th>
              <th>{{ _('Coming From') }}</th>
              <th>{{ _('Going To') }}</th>
              <th>{{ _('Entered At') }}</th>
              <th>{{ _('Trip Type') }}</th>
              <th>{{ _('Permit Image') }}</th>
              <th>{{ _('Trip Reason') }}</th>
              <th>{{ _('Male Passengers') }}</th>
              <th>{{ _('Female Passengers') }}</th>
              <th>{{ _('Child Passengers') }}</th>
            </tr>
         	</thead>
          <tbody>
              	<tr vclass="display-date" style="cursor: pointer;">
                	<td>
                		<figure>
                  		<img src="/static/known_persons/56273e42-67c8-42c0-aa73-07ccabee6281.png" alt="Person Image" class="img_main"></img>
                  		<figcaption id="traveler_name" name="traveler_name"> {{ _('Name 1') }}</figcaption>
                  	</figure>
                	</td>
                	<td>
                		<figure>
                  		<img src="/static/known_persons/56273e42-67c8-42c0-aa73-07ccabee6281.png" alt="Vehicle Image" class="img_main"></img>
                  		<figcaption id="vehicle" name="vehicle"> {{ _('Number 1') }}</figcaption>
                  	</figure>
                	</td>
                  <td>{{ _('Driver') }}</td>
                  <td>{{ _('A') }}</td>
                  <td>{{ _('B') }}</td>
                  <td>11-01-2024, 12:06:00<td>
                  <td>{{ _('Local') }}<td>
                  <td><a href="/static/permit_images/76-ka03ae9237-2024-01-11 12:06:31.552893-permit-.jpeg">{{ _('Click here for the permit image') }}</a></td>
                  	
                  <td>{{ _('X') }}</td>
                  <td>1</td>
                  <td>1</td>	
                  <td>1</td>
                </tr>
                <tr vclass="display-date" style="cursor: pointer;">
                  <td>
                    <figure>
                      <img src="/static/known_persons/56273e42-67c8-42c0-aa73-07ccabee6281.png" alt="Person Image" class="img_main"></img>
                      <figcaption id="traveler_name" name="traveler_name"> {{ _('Name 1') }}</figcaption>
                    </figure>
                  </td>
                  <td>
                    <figure>
                      <img src="/static/known_persons/56273e42-67c8-42c0-aa73-07ccabee6281.png" alt="Vehicle Image" class="img_main"></img>
                      <figcaption id="vehicle" name="vehicle"> {{ _('Number 2') }}</figcaption>
                    </figure>
                  </td>
                  <td>{{ _('Driver') }}</td>
                  <td>{{ _('A') }}</td>
                  <td>{{ _('B') }}</td>
                  <td>11-01-2024, 12:06:00<td>
                  <td>{{ _('Local') }}<td>
                  <td><a href="/static/permit_images/76-ka03ae9237-2024-01-11 12:06:31.552893-permit-.jpeg">{{ _('Click here for the permit image') }}</a></td>
                    
                  <td>{{ _('X') }}</td>
                  <td>1</td>
                  <td>1</td>  
                  <td>1</td>
                </tr>
                
          </tbody>
        </table>
      </div>
      <div class="col-xs-12 buttons text-center">
				<button type="submit" id ="end_trip_registration" name= "end_trip_registration" class="btn btn-primary">{{ _('Done') }}</button>
			</div>
		</form>
	</div>    
</section>
	
<script>
  $(document).ready(function(){
  	$(document).keypress(function(e) {
    	if(e.which == 13) {
		    $("#sbmt").trigger("click");
		  }
		});
		
  	/*sends the user back to the previous page*/
		$("#cancelbtn").click(function(){
				 $("#cancelbtn").data('clicked', true);
				 if($('#cancelbtn').data('clicked')) {
					history.back();
			 }
		});

    //$("#sbmt").click(function() {
    //		form.submit();
    //});

});
</script>        
{% endblock content %}
      
