cryptography
redis 
flask 
pandas
sqlalchemy
flask-jwt-extended==4.6.0
flask-login
PyJWT>=2.8.0,<2.10.0
flask-wtf
urllib3==1.26.15 
requests-toolbelt==0.9.1
reportlab
flask_sqlalchemy
Flask-Babel
compreface-sdk
wheel
gunicorn
psycopg2
pydantic>=2.5
