{% extends "layout.html" %}
{% block content %}
<section class="user vehicle_detail_section">
	<div class="container">
		<div class="row d-flex align-items-stretch" id="img-vg-content">
			<div class="col-md-4 d-flex">
				<div class="user_left_portion preview-panel minimal-preview-panel known-vehicle-tall-panel" id="capturedImageRow"
					style="flex: 1; background: linear-gradient(to right, #900C3F 0%, #C70039 41%, #581845 100%); padding: 20px;">
					{% if details.vehicle_image %}
					<h1 class="preview-panel-title">Vehicle Picture</h1>
					<div class="preview-image-frame preview-image-frame--compact preview-image-frame--clickable minimal-preview-frame known-vehicle-tall-frame">
						<img src="{{ details.vehicle_image }}" name="vehicle_image" id="vehicle_image" class="is-clickable"
							onclick='javascript:showVehicleImageModal("Vehicle Picture", {{ details.vehicle_image|tojson }})'>
					</div>
					{% endif %}
			  </div>
			</div>
			<div class="col-md-8">
				<div class="user-form row">
					<h1 style="margin-bottom: 30px;">Vehicle Details</h1>
					<form id="vehicle_details" action="{{ url_for('known_vehicle') }}" method="post" enctype="multipart/form-data" class="login">
						<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
						{% if details.vehicle_image %}
						<input type="hidden" name="vehicle_image_url" value="{{ details.vehicle_image }}">
						{% endif %}
						<div class="col-xs-2">
							<label class="label">Vehicle Number</label>
						</div>
						<div class="form-group col-xs-10">
							<input id="vehicle_number" name="vehicle_number" type="text" maxlength="30" class="form-control required" value=" {{ details.vehicle_number }}">
					  	</div>
						<div class="col-xs-2">
							<label class="label">Owner</label>
						</div>
						<div class="form-group col-xs-10">
							<input id="vehicle_owner_name" name="vehicle_owner_name" type="text" maxlength="30" class="form-control required" value="{{ details.vehicle_owner }}">
						</div>
						<div class="col-xs-2">
							<label class="label">Make</label>
						</div>
					  	<div class="form-group col-xs-10">
							<input id="make" name="make" type="text" maxlength="30" class="form-control required" value="{{ details.vehicle_make if details.vehicle_make else 'None' }}">
					  	</div>
						<div class="col-xs-2">
							<label class="label">Color</label>
						</div>
					  	<div class="form-group col-xs-10">
							<input id="color" name="color" type="text" maxlength="30" class="form-control required" value="{{ details.vehicle_color if details.vehicle_color else 'None' }}">
					  	</div>
						<div class="col-xs-12 buttons text-center">
						   <button type="submit" id = "sbmt_button" name="sbmt_button" value="back_to_select" class="btn btn-primary">Continue</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	  </div>
	<div id="knownVehicleImageModal" class="modal image-preview-modal">
		<span id="knownVehicleImageModalClose" class="close">&times;</span>
		<img class="modal-content image-preview-modal-content" id="knownVehicleImageModalImg">
		<div id="knownVehicleImageModalCaption" class="image-preview-modal-caption"></div>
	</div>
	</section>
<script>
	function showVehicleImageModal(label, image) {
		var imageModal = document.getElementById('knownVehicleImageModal');
		document.getElementById('knownVehicleImageModalImg').src = image;
		document.getElementById('knownVehicleImageModalCaption').textContent = label;
		imageModal.style.display = 'block';
	}

	var knownVehicleImageModal = document.getElementById('knownVehicleImageModal');
	document.getElementById('knownVehicleImageModalClose').onclick = function() {
		knownVehicleImageModal.style.display = 'none';
	};

	window.addEventListener('click', function(event) {
		if (event.target === knownVehicleImageModal) {
			knownVehicleImageModal.style.display = 'none';
		}
	});

	$(document).ready(function(){
		$("#cancelbtn").click(function(){
			$("#cancelbtn").data('clicked', true);
				if($('#cancelbtn').data('clicked')) {
					history.back();
				}
		});
      });

	$("#vehicle_details").validate({
        errorPlacement: function (error, element)
        {
            element.before(error);
        }
    });

    $("#sbmt").click(function() {
    	if($('#vehicle_details').valid()) {
    		vehicle_details.submit();
    	}	
    });

</script>
{% endblock content %}
