fastapi
fastapi-offline
uvicorn
gunicorn
aiofiles
requests
httpx
python-multipart
ujson
msgpack
tqdm
numba
opencv-python
scikit-image
onnx
onnxruntime
git+https://github.com/lilohuang/PyTurboJPEG.git
exifread
tritonclient[http,grpc]
imageio
aiohttp
tenacity==8.3.0
colorlog