{% extends "layout.html" %}
{% block content %}
<section class="user user_register_section">
	<div class="container-fluid">
		<form id="form" action="{{ url_for('make_trip_summary') }}" method="post" enctype="multipart/form-data" class="login">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
			<div class="table-responsive">
      	<table class="table table-striped dataTables-example dataTable">
        	<thead>
            <tr>
            	<th>{% if template_profiles.static_trip_summary.translate_labels %}{{ _('Traveler') }}{% else %}Traveler{% endif %}</th>
              <th>{% if template_profiles.static_trip_summary.translate_labels %}{{ _('Vehicle') }}{% else %}Vehicle{% endif %}</th>
              <th>{% if template_profiles.static_trip_summary.translate_labels %}{{ _('Traveler Type') }}{% else %}Traveler Type{% endif %}</th>
              <th>{% if template_profiles.static_trip_summary.translate_labels %}{{ _('Coming From') }}{% else %}Coming From{% endif %}</th>
              <th>{% if template_profiles.static_trip_summary.translate_labels %}{{ _('Going To') }}{% else %}Going To{% endif %}</th>
              <th>{% if template_profiles.static_trip_summary.translate_labels %}{{ _('Entered At') }}{% else %}Entered At{% endif %}</th>
              <th>{% if template_profiles.static_trip_summary.translate_labels %}{{ _('Trip Type') }}{% else %}Trip Type{% endif %}</th>
              <th>{% if template_profiles.static_trip_summary.translate_labels %}{{ _('Permit Image') }}{% else %}Permit Image{% endif %}</th>
              <th>{% if template_profiles.static_trip_summary.translate_labels %}{{ _('Trip Reason') }}{% else %}Trip Reason{% endif %}</th>
              <th>{% if template_profiles.static_trip_summary.translate_labels %}{{ _('Male Passengers') }}{% else %}Male Passengers{% endif %}</th>
              <th>{% if template_profiles.static_trip_summary.translate_labels %}{{ _('Female Passengers') }}{% else %}Female Passengers{% endif %}</th>
              <th>{% if template_profiles.static_trip_summary.translate_labels %}{{ _('Child Passengers') }}{% else %}Child Passengers{% endif %}</th>
            </tr>
         	</thead>
          <tbody>
              	<tr vclass="display-date" style="cursor: pointer;">
                	<td>
                		<figure>
                  		<img src="/static/known_persons/56273e42-67c8-42c0-aa73-07ccabee6281.png" alt="Person Image" class="img_main"></img>
                  		<figcaption id="traveler_name" name="traveler_name"> {% if template_profiles.static_trip_summary.translate_labels %}{{ _('Name 1') }}{% else %}Name 1{% endif %}</figcaption>
                  	</figure>
                	</td>
                	<td>
                		<figure>
                  		<img src="/static/known_persons/56273e42-67c8-42c0-aa73-07ccabee6281.png" alt="Vehicle Image" class="img_main"></img>
                  		<figcaption id="vehicle" name="vehicle"> {% if template_profiles.static_trip_summary.translate_labels %}{{ _('Number 1') }}{% else %}Number 1{% endif %}</figcaption>
                  	</figure>
                	</td>
                  <td>{% if template_profiles.static_trip_summary.translate_labels %}{{ _('Driver') }}{% else %}Driver{% endif %}</td>
                  <td>{% if template_profiles.static_trip_summary.translate_labels %}{{ _('A') }}{% else %}A{% endif %}</td>
                  <td>{% if template_profiles.static_trip_summary.translate_labels %}{{ _('B') }}{% else %}B{% endif %}</td>
                  <td>11-01-2024, 12:06:00<td>
                  <td>{% if template_profiles.static_trip_summary.translate_labels %}{{ _('Local') }}{% else %}Local{% endif %}<td>
                  <td><a href="/static/permit_images/76-ka03ae9237-2024-01-11 12:06:31.552893-permit-.jpeg">{% if template_profiles.static_trip_summary.translate_labels %}{{ _('Click here for the permit image') }}{% else %}Click here for the permit image{% endif %}</a></td>
                  	
                  <td>{% if template_profiles.static_trip_summary.translate_labels %}{{ _('X') }}{% else %}X{% endif %}</td>
                  <td>1</td>
                  <td>1</td>	
                  <td>1</td>
                </tr>
                <tr vclass="display-date" style="cursor: pointer;">
                  <td>
                    <figure>
                      <img src="/static/known_persons/56273e42-67c8-42c0-aa73-07ccabee6281.png" alt="Person Image" class="img_main"></img>
                  		<figcaption id="traveler_name" name="traveler_name"> {% if template_profiles.static_trip_summary.translate_labels %}{{ _('Name 1') }}{% else %}Name 1{% endif %}</figcaption>
                    </figure>
                  </td>
                  <td>
                    <figure>
                      <img src="/static/known_persons/56273e42-67c8-42c0-aa73-07ccabee6281.png" alt="Vehicle Image" class="img_main"></img>
                      <figcaption id="vehicle" name="vehicle"> {% if template_profiles.static_trip_summary.translate_labels %}{{ _('Number 2') }}{% else %}Number 2{% endif %}</figcaption>
                    </figure>
                  </td>
                  <td>{% if template_profiles.static_trip_summary.translate_labels %}{{ _('Driver') }}{% else %}Driver{% endif %}</td>
                  <td>{% if template_profiles.static_trip_summary.translate_labels %}{{ _('A') }}{% else %}A{% endif %}</td>
                  <td>{% if template_profiles.static_trip_summary.translate_labels %}{{ _('B') }}{% else %}B{% endif %}</td>
                  <td>11-01-2024, 12:06:00<td>
                  <td>{% if template_profiles.static_trip_summary.translate_labels %}{{ _('Local') }}{% else %}Local{% endif %}<td>
                  <td><a href="/static/permit_images/76-ka03ae9237-2024-01-11 12:06:31.552893-permit-.jpeg">{% if template_profiles.static_trip_summary.translate_labels %}{{ _('Click here for the permit image') }}{% else %}Click here for the permit image{% endif %}</a></td>
                    
                  <td>{% if template_profiles.static_trip_summary.translate_labels %}{{ _('X') }}{% else %}X{% endif %}</td>
                  <td>1</td>
                  <td>1</td>  
                  <td>1</td>
                </tr>
                
          </tbody>
        </table>
      </div>
      <div class="col-xs-12 buttons text-center">
				<button type="submit" id ="end_trip_registration" name= "end_trip_registration" class="btn btn-primary">{% if template_profiles.static_trip_summary.translate_labels %}{{ _('Done') }}{% else %}Done{% endif %}</button>
			</div>
		</form>
	</div>    
</section>
	
<script>
  $(document).ready(function(){
  	$(document).keypress(function(e) {
    	if(e.which == 13) {
		    $("#sbmt").trigger("click");
		  }
		});
		
  	/*sends the user back to the previous page*/
		$("#cancelbtn").click(function(){
				 $("#cancelbtn").data('clicked', true);
				 if($('#cancelbtn').data('clicked')) {
					history.back();
			 }
		});

    //$("#sbmt").click(function() {
    //		form.submit();
    //});

});
</script>        
{% endblock content %}
      
